body {
    background-color: #e9ecef;
    color: black;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    overflow: scroll;;
}

nav {
    background-color: transparent;
    width: 100%;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  box-shadow: 0px 5px 5px #bbbbbb;
  transition: background-color 20ms linear;
}

body a {
    text-decoration: none !important;
    color: black;
}

body a:hover {
    color: #007EA7;
}

body .active {
    color: #007EA7;
}

button {
    background-color: #007EA7;
    color: white;
    border: none;
    border-radius: 8px;
}

button:hover {
    position: relative;
    -moz-transform: translate(0em, -0.2em);
    -ms-transform: translate(0em, -0.2em);
    -o-transform: translate(0em, -0.2em);
    -webkit-transform: translate(0em, -0.2em);
    transform: translate(0em, -0.2em);
    box-shadow: -5px 10px 10px #888888;
}

.chip {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  border-radius: 25px;
  background-color: #ffffff;
  color: #007EA7;
  font-weight: 250;
  margin-top: 0;
  margin-bottom: 10px;
}

.vl {
  border-left: 3px solid #007EA7;
  height: 500px;
  position: absolute;
  left: 62%;
  margin-left: -3px;
  top: 10;
}

.socials:hover {
    transform: scale(1.5,1.5);
    transform-origin: 80% center;
    animation: normal;
}

@media (max-width: 767px) {
    .socials:hover {
        transform: scale(1.3,1.3);
        transform-origin: 94% center;
        animation: normal;
    }
}

#aboutme {
    background-color: #ffffff;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

@media (max-width: 767px) {
    #aboutme {
        background-image: none;
    }
}

#about_me {
    animation: expand .8s ease forwards;
    transition: all .8s ease;
}

section {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.hex_row_even {
  display: inline-block;
  margin: 0 -50px -340px -50px;
  overflow: hidden;
}

@media (max-width: 767px) {
    .hex_row_even{
        margin: 0 auto -340px auto;
    }
}

.hex_row_odd {
  display: inline-block;
  margin: 0 -50px -340px -50px;
  overflow: hidden;
}

.center {
  float: left;
  margin: 0px 0px;
  transform: scale(0.55);
}

.hexagon {
  transform: rotate(120deg);
  cursor: pointer;
  height: 440px;
  overflow: hidden;
  visibility: hidden;
  width: 220px;
}

.hex1 {
  transform: rotate(-60deg);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.hex2 {
  transform: rotate(-60deg);
  height: 100%;
  position: relative;
  visibility: visible;
  width: 100%;
  background-size: cover !important;
}

.desc {
  color: white;
  height: 440px;
  position: absolute;
  text-align: center;
  visibility: visible;
  width: 220px;
  background: #007EA7;
  opacity: 0.7;
}

.desc h2 {
  font-size: 2em;
  font-weight: 600;
  margin: 200px 20px 0 20px;
  opacity: 1;
}

@keyframes expand {
  0% {
    transform: translateX(-1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
